<div class='card'>
    <div class='card-header'>
        <h1>{{pageTitle}}</h1> <!--Template Expression: bind the ProductListComponent's pageTitle property in the template with Interpolation 
        and specify the name of the property. When the page is displayed angular assigns the string value of the pageTitle property to the innner text property of this h1 element    -->
    </div>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-md-2">Filter by:</div>
        <div class="col-md-4">
            <input type="text"
                [(ngModel)]='listFilter' />   
        </div>
    </div>    
    <div class="row">
        <div class="col-md-6">
            <h4>Filtered by: {{listFilter}}</h4>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table" *ngIf='products && products.length'> 
       <!--with ngIf the associated element and its children are added or removed from the DOM -->
        <thead>
            <tr>
                <th>
                    <button class="btn btn-primary" 
                    (click)='toggleImage()' >
                    <!-- when clicking the button the binding calls the toggleImage method in products-list.component.ts -->
                        <!--Show Image: change the button's text -->
                        {{showImage ? 'Hide' : 'Show'}} Image
                    </button>
                </th>
                <th>Product</th>
                <th>Code</th>
                <th>Available</th>
                <th>Price</th>
                <th>5 Star Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let product of products'>
                <td>
                    <!--Binding target in [] and binding source in '' : <img [src]='product.imageUrl'>  -->
                    <!--Template expression enclosed in {} : <img src={{product.imageUrl}}>  -->
                    <!-- <img src='http://openclipart.org/{{product.imageUrl}}'>  -->
                    <img *ngIf='showImage' [src]='product.imageUrl' 
                         [title]='product.productName'
                         [style.width.px]='imageWidth'
                         [style.margin.px]='imageMargin'> 
                    <!-- how to use property binding to bind several properties of the img element to properties of the component's class -->
                </td>
                <td>{{product.productName}}</td>
                <td>{{product.productCode | lowercase}}</td>
                <td>{{product.releaseDate}}</td>
                <td>{{product.price | currency:'USD':'symbol':'1.2-2'}}</td>
                <!--Pipes
                    {{ product.price | currency | lowercase}}
                    {{ product.price | currency:'USD':'symbol':'1.2-2'}}
                -->
                <td>{{product.starRating}}</td> 
            </tr> 
            <!--for...in iterates over the properties of an object -> Result: 0,1,2
            for...of iterates over iterable objects, such as an array -> Result: bla, ble, blo  -->  
        </tbody>
    </table>
</div>